#blogsDaRedacao, .box0018 { padding:0px;margin:0px;overflow:hidden !important;float:left;border-bottom:0px; }
.box0018 h1 a { font: 20px arial;color:#444;padding-bottom:10px;border-bottom:1px solid #ccc; }
.box0018 h1 b {  border-bottom:5px solid #444;padding-bottom:6px; }
.box0018 ul { padding-top:17px;float:left; }
.box0018 ul li { float:left;width:100%;border-bottom:1px solid #f1f1f1; }
.box0018 img { width:90px;float:left; }
.box0018 ul a span { float:left;width:200px;padding-left:10px; }
.box0018 ul li a { padding:10px 0px 9px 0px;font-size:16px !important;float:left;width:100%;min-height:32px; }
