#blogsDaRedacaoHorizontal { padding:0px;margin:0px;border-bottom:0px; overflow:hidden;}
.box0018b h1 a { font: 20px arial;color:#444;padding-bottom:10px;border-bottom:1px solid #ccc; }
.box0018b h1 b {  border-bottom:5px solid #444;padding-bottom:6px; }
.box0018b ul { padding-top:25px;float:left;border-bottom:1px dotted #D7D7D7; }
.box0018b ul li { float:;width:154px;border-right:2px solid #f1f1f1; float:left;margin:0px;padding:0px;}
.box0018b img { width:100%;height:115px;float:left; }
.box0018b ul a span { float:left;padding:10px 7px 3px 7px; height: 83px; font-size: 15px; }
.box0018b ul li a { padding:10px 0px 9px 0px;font-size:16px !important;float:;width:100%;min-height:32px; }
