
.box0079 h2 a{
	float:left;
	margin:0px 0px 0px 0px; 
	width:460px;
	font-size:11px;
	color:#989898;
	text-transform:uppercase;
}
.box0079 a:hover{
	text-decoration:underline;
}
.box0079 a.titulo{
	width:460px;
	float:left;
	font-size:23px;
	color:#f2352f;
	height:; 
	margin: 0 0 2px 0;
}

.box0079 a.chamada{
	float:left;
	font-size:14px;
	color:#7f7f7f;
	margin: 10px 0 5px 0;
	float:left;
	width:460px;
}

.box0079 .img { float:left;margin-right:10px; }
.box0079 .node { margin:0px !important;padding:0px !important; }
