
.box0062 h2 a{
	float:left;
	margin:0px 0px 5px 0px; 
	width:100px;
	font-size:11px;
	color:#989898;
	text-transform:uppercase;
}
.box0062 a:hover{
	text-decoration:underline;
}
.box0062 a.titulo{
	float:left;
	font-size:18px;
	color:#f2352f;
	height:; 
	margin: 0 0 5px 0;
}

.box0062 a.chamada{
	float:left;
	font-size:14px;
	color:#7f7f7f;
	height:; 
	margin: 5px 0 5px 0;
	float:left;
	width:190px;
}

.box0062 .img { float:left;margin-right:10px; }
.box0062 .titulo { width:180px;float:left;}
.box0062 .node { margin:0px !important;padding:0px !important; }
