.box0056 {
	overflow: hidden
}
.box0056 .transparent {
	position: absolute;
	z-index: 1;
	width: 100%;
	height:150px;
	background-color: rgba(0,0,0,0.7);
	top:130px;
}

.box0056 h2 a{
	left:10px;
	position:relative;
	bottom:90px;
	z-index:2;
	float:left;
	margin:10px 0px 10px 0px; 
	width:100%;
	font-size:11px;
	color:white; /* #989898 */
	text-transform:uppercase;
}
.box0056 a:hover{
	text-decoration:underline;
}
.box0056 a.titulo{
	padding:0 10px 0 10px;
	position:relative;
	bottom:90px;
	z-index:2;
	float:left;
	font-size:17px;
	color:white; /* #f2352f */
	margin:0px 0px 0px 0px;
}
.box0056 .img { float:left;margin-right:10px; }
.box0056 .node { margin:0px !important;padding:0px !important; }
